## Grean taxi data

In [22]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [23]:
# Install psycopg2-binary if not already installed
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\toman\appdata\local\programs\python\python313\lib\site-packages (2.9.10)

In [24]:
# Database connection
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [25]:
#Step 1: Read initial rows for schema inspection
df = pd.read_csv(r'C:\ny_taxi_postgres_data\green_tripdata_2019-10.csv.gz', compression='gzip', nrows=100)

In [26]:
# Print schema (for debugging purposes)
print(pd.io.sql.get_schema(df, name="green_taxi_data"))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [27]:
# Convert `lpep_pickup_datetime` and `lpep_dropoff_datetime` to datetime
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [28]:
# Print schema with updated data types
print(pd.io.sql.get_schema(df, name="green_taxi_data", con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [29]:
# Step 2: Initialize an iterator for large dataset processing
df_iter = pd.read_csv(r'C:\ny_taxi_postgres_data\green_tripdata_2019-10.csv.gz', iterator=True, chunksize=100000)

In [31]:
# Read the first chunk to create the table and ensure the schema is correct
df = next(df_iter)

In [32]:
# Ensure datetime conversion for the first chunk
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [33]:
# Create the table and replace if it exists
df.to_sql(name="green_taxi_data", con=engine, if_exists="replace", index=False)

1000

In [34]:
# Step 3: Process remaining chunks
while True:
    try:
        # Benchmark time start
        t_start = time()

        # Get the next chunk
        df = next(df_iter)

        # Ensure datetime conversion for the chunk
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        # Append the data to the table
        df.to_sql(name="green_taxi_data", con=engine, if_exists="append", index=False)

        # Benchmark time ends
        t_end = time()

        # Print time taken
        print('Inserted another chunk... took %.3f second(s)' % (t_end - t_start))
    except StopIteration:
        print("All chunks have been processed.")
        break

Inserted another chunk... took 22.837 second(s)

C:\Users\toman\AppData\Local\Temp\ipykernel_8004\1828195227.py:8: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk... took 21.440 second(s)
Inserted another chunk... took 16.769 second(s)
All chunks have been processed.

### Adding Zones data

In [37]:
df_zones = pd.read_csv(r'C:\ny_taxi_postgres_data\taxi_zone_lookup.csv')

In [38]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [39]:
df_zones.to_sql(name= 'zones', con=engine, if_exists='replace')

265